@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --primary-color: #F8F1FF;
  --secondary-color: #394648;
  --accent1-color: #987284;
  --accent2-color: #DECDF5;

  --heading-font: 'roboto', sans-serif;
  --paragraph-font: 'roboto', sans-serif;

  --nav-background-color: #F8F1FF;
  --nav-link-color: #394648;
  --nav-hover-link-color: #987284;
  --nav-hover-background-color: #DECDF5;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

div {
	position: relative;
}

div h1 {
	position: absolute;
	top: 150px;
	left: 500px;
	background-color: var(--nav-background-color);

}

article {
	position: absolute;
	top: 250px;
	left: 50px;
	right: 50px;
	background-color: var(--nav-background-color);
	padding: 10px;

}

#img2 {
	float: right;
	width: 100px;
	height: 100px;
}

body {
  font-family: var(--paragraph-font);
  max-width: 1200px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

header {
  padding: 20px;
  background-color: var(--accent2-color);
  display: grid;
  grid-template-columns: 120px 10fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1200px;
}

p {
	padding:25px;
}

.nav1 {
  background-color: var(--accent2-color);
  font-size: 1.2rem;
  display: flex;
  text-align: right;
  list-style: none;
  justify-content: space-evenly;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 0;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

footer {
	position: relative;
}

.sociallinks img {
	width: 20px;
	height: 20px;
}

.sociallinks a {
	position: absolute;
}

.soc1 {
	bottom: 10px;
	left: 1100px;
}

.soc2 {
	bottom: 10px;
	left: 1130px;
}

.soc3 {
	bottom: 10px;
	left: 1160px;
}

header img {
	margin: 0;
	width: 120px;
	height:auto;
}

.image-row, .facecard {
	display: flex;
	justify-content: space-evenly;
}

.image-row figure img {
	width: 170px;
	height: 80px;
}

.facecard figure img {
	width: 70px;
	height: 100px;
}

section h2, section h3 {
	text-align: center;
}

footer p {
	text-align: center;
}
