@import url('https://fonts.googleapis.com/css2?family=roboto&display=swap');

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

:root {
  --primary-color: #F8F1FF;
  --secondary-color: #394648;
  --accent1-color: #987284;
  --accent2-color: #DECDF5;

  --heading-font: 'roboto', sans-serif;
  --paragraph-font: 'roboto', sans-serif;

  --nav-background-color: #F8F1FF;
  --nav-link-color: #394648;
  --nav-hover-link-color: #987284;
  --nav-hover-background-color: #DECDF5;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

header {
  padding: 20px;
  background-color: var(--accent2-color);
}

p {
	padding:25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
